main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainTop {
  display: flex;
  flex-direction: row;
  height: 80%;
}

.left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  width: 20em;
}

.right {
  height: 100%;
  background-color: aliceblue;
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
}

.cardImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  width: 5em;
}

.cardImg {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 1024px) {
}
